header {
    min-height: 75vh;
    background: linear-gradient(
            rgba(141, 39, 174, 0.3),
            rgba(141, 39, 174, 0.5)
        ),
        url("../../../Assets/images/library-img.jpg") center/cover no-repeat;
    .content {
        width: 600px;
        max-width: 100%;
        color: #fff;
        h1 {
            font-size: 3rem;
        }
        p {
            opacity: 0.8;
        }
    }
}
